#app { height: 100% }
html,
body {
  position: relative;
  height: 100%;
}

body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.search_are {
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;

}

.search_input {
  width: 300px;
  padding: 0px 10px;
  outline: none;
  border: 2px solid rgba(225, 225, 225, 0.872);
  border-radius: 30px;
}

.filtering-are {
  padding: 10px 20px;
  display: flex;
  gap: 30px;
}
.filter_option{
  border: 2px solid rgba(225, 225, 225, 0.872);
  border-radius: 30px;
  padding: 0px 5px;
  outline: none;
}
.filter_submit-btn {
  width: 150px;
  padding: 5px;
  color: white;
  border: none;
  outline: none;
  border-radius: 5px;
  font-size: 16px;
  background-color: #008080;
  cursor: pointer;
}
